article.single-article-content {
  background: $blanc;
  padding: 48px 0 80px 0;
}

a.d-block.video-shortcode {
  margin-bottom: 0;
}
.actualites-hero-wrapper {
  padding-bottom: 48px;
}

article.single-article-content .btn-ghost {
  display: flex;
  max-width: 330px;
  margin: auto;
}
