article.single-article-content {
  background: $bg;
  padding: 48px 0 80px 0;
}

a.d-block.video-shortcode {
  margin-bottom: 24px;
}

article.single-article-content .btn-ghost {
  display: flex;
  max-width: 330px;
  margin: auto;
}
