$bootstrap-icons-font-dir: "../fonts";
$dropdown-spacer: 0;
$nav-link-padding-y: 0;

// Couleurs principales ACCEO
$bleu-principal:        #05354E;
$bleu-secondaire:       #2E76B8;
$vert-ascenseur:        #4CBCC4;
$jaune-accessibilite:   #FC8E14;
$bleu-environnement:    #5EC4E8;
$orange-elevation:      #FC8E14;
$vert-energie:          #A1C635;
$bleu-fonce:            #195778;
$blanc:                 #FFFFFF;
$bg:                    #EDF3F6;
$bg_fonce:              #D6E1E6;



$font-family-montserrat: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$font-family-sans-serif: $font-family-montserrat;

/*
$body-bg: $secondary;
$body-color: $black;
$font-family-base : 'Nunito', sans-serif;
$headings-font-family: 'DM Serif Display', serif;


$theme-colors: (
      "primary": $primary,
      "secondary": $secondary
);

$spacer: 1rem;

$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 2,
        5: $spacer * 3,
);
*/