li.breadcrumb-item a {
  color: $bleu-principal;
}


.breadcrumb-separator {
  width: 16px;
  height: 16px;
  margin: 0 0.5rem;
  opacity: 0.6;
  vertical-align: middle;
  display: inline-block;
}
.breadcrumb-item {
  color: inherit;
}

.breadcrumb-separator path {
  fill: currentColor;
}

@media only screen and (max-width: 1199px) {

}
