// ============================================
// Footer
// ============================================

footer {
  .logo-footer-infos {
    display: inline !important;
    text-align: center;

    a {
      margin-top: 15px;
    }
  }

  #footer-bottom {
    height: 68px;

    ul {
      li {
        margin: 0 16px;
      }
    }
  }

  .social-net-work-footer {
    a {
      text-decoration: none;
      font-size: 24px;
    }
  }

  .footer-info {
    text-decoration: none;
  }

  .h2 {
    font-size: 24px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;

      a {
        display: block;
        padding: 6px 0;
        text-decoration: none;
      }
    }
  }
}

// ============================================
// Footer Wrapper
// ============================================

footer#footer_wrapper {
  background: $bleu-principal;
  padding-top: 64px;

  ul li a,
  h2,
  div,
  i {
    color: $blanc;
  }

  ul li a,
  div {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
  }

  .h2 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
  }

  #footer-bottom {
    height: 68px;
    border-top: 1px solid $blanc;
  }

  .btn-primary {
    margin-bottom: 16px;

    span.btn-icon {
      background-color: $blanc;
    }
  }

  .btn-ghost {
    .btn-text {
      color: $blanc;
      border: 1px solid $blanc;
    }

    span.btn-icon {
      background-color: $blanc;
      color: $bleu-secondaire;
    }
  }
}

// ============================================
// Boutons Footer
// ============================================

.btns-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// ============================================
// Responsive
// ============================================

@media only screen and (max-width: 991px) {
  #footer-top {
    text-align: left;

    .btn-primary,
    .btn-ghost {
      width: 100%;
      text-align: center;
    }
  }

  #footer_wrapper .btn-ghost .btn-text {
    text-align: center;
  }

  footer#footer_wrapper {
    div,
    ul li a {
      text-align: left;
    }
  }

  section#footer-bottom a {
    text-align: center !important;
  }
  .footer-info i {
    float: left;
    padding-right: 12px;
  }
}

@include media-breakpoint-down(sm) {
  footer {
    #footer-bottom {
      height: auto;
      padding: 16px 0;
    }
  }
}
